* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {/* Color styles */
--secundary-color: #0084FD;
--light-color: #FFFFFF;
--primary-color: #9792E4;
--contrast-color: #FABF63;
--bg-card: #B5DDFF;
--dark-color: #333333;
}
body {
    background-color: var(--light-color);
    font-family: 'PT Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* Header */
header {
    background-color: var(--secundary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}
nav, header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    display: none;
}
/* header nav {
    position: relative;
}
header nav >a:hover ul{
    display: block;
    position: absolute;
} */
header nav a {
    color: var(--light-color);
    padding-left: 15px;
}
/* main */
main {
    margin-top: 80px;
}
.even {
    background-color: var(--primary-color);
}
/* Intro */
.card {
    border-radius: 20px;
    width: 100%;
    background-color: var(--bg-card);
    padding: 8px;
    margin-bottom: 10px;
}
.image {
    width: 100%;
}
/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}