* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--light-color);
    font-family: 'PT Sans', sans-serif;
    line-height: 1.8rem;
}
html {
    scroll-behavior: smooth;
}
/* Color styles */
:root {
--secundary-color: #0084FD;
--light-color: #FFFFFF;
--primary-color: #9792E4;
--contrast-color: #FABF63;
--bg-card: #B5DDFF;
--dark-color: #333333;
}
/* Background */
.bg-secundary {
    background-color: var(--secundary-color);
}
.bg-light {
    background-color: var(--light-color);
}
/* General */
h3 {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
    color: var(--light-color);
}
ul {
    list-style: none;
}
.container {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
.small-container {
    padding: 15px;
    max-width: 992px;
    margin: 0 auto;
}
/* Margins */
.mt-20 {
    margin-top: 20px;
}
/* Paddings */
.p-b30 {
    padding-bottom: 30px;
}
/* Borders */
.b-radius {
    border-radius: 40px;
}
/* Buttons */
.btn{
    display: inline-block;
    text-align: center;
    padding: 10px 40px;
    border-radius: 30px;
}
.light-btn {
    background-color: var(--light-color);
    color: var(--dark-color)
}
.small-btn {
    padding: 7px 10px;
}
/*  */
/* Text */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.light-text {
    color: var(--light-color);
}
.italic {
    font-style: italic;
}
/* Header */
header {
    background-color: var(--secundary-color);
    color: var(--light-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    width: 100%;
}
nav, header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    visibility: hidden;
}
header nav a {
    margin-left: 15px;
}
nav > a {
    font-size: 2rem;
}
/* main */
main {
    margin-top: 80px;
}
.even {
    background-color: var(--primary-color);
}
/* Intro */
.card {
    border-radius: 20px;
    width: 100%;
    background-color: var(--bg-card);
    padding: 30px 15px;
    margin-bottom: 10px;
}
.image{
    width: 100%;
}
.image img {
    width: 100%;
    display: block;
    transform: translate(0, 30px);
}
#intro h3, #intro div > i {
    color: var(--secundary-color);
}
#intro div > i {
    font-size: 6rem;
    margin: 50px 0;
}
/* Planning */
#planning img {
    max-width: 100%;
}
/* Footer */
footer {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* Responsive */
/* from 768px */
/* Intro */
@media screen and (min-width: 768px) {
.d-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}
/* intro */
.card {
    width:calc((100% / 3) - 10px);
}
#intro .card:first-child {
    width: calc((100% / 3 * 2) - 10px);
}
.image, .left-card {
    width: calc((100% / 2) - 10px);
}
/* plannings */
.box {
    width: calc((100% / 2) - 10px);
}
.m-t150 {
    margin-top: 150px;
}
}
/* from 992px*/
@media screen and (min-width: 992px) {
/* Header */
header nav ul {
   visibility: visible;
}
nav > a {
    display: none;
}
}